# Data Science Tools Echosystem

![image](2-title.png)

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. seaborn

|No.|Data Science Tools|
|---|------------------|
|1.| Apache Sparks|
|2.|Apache Hadoop|
|3.|Jupiter lab|
|4.|Weka|

### Below are a few examples of evaluating arithmetic expressions in Python
1. "*"
2. "+"
3. "/"
4. "-"

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives:__
* R
* SQL
* Python

## Author: Frano 
Author